/**
 * Общие стили страницы
 *
 * @author Кривонос Иван <devbackend@yandex.ru>
 */

.brand-logo {
	font-family: 'Arvo', serif;

	i {
		width: 64px;
		background-image: url('/images/logo.svg');
		background-size: cover;
	}
}