/**
 * Общие стили страницы
 *
 * @author Кривонос Иван <devbackend@yandex.ru>
 */

BODY {
	display:        flex;
	min-height:     100vh;
	flex-direction: column;
}

MAIN {
	flex: 1 0 auto;
}

.mobile-menu {
	display: inline-block;
}

#sidenav-overlay {
	z-index: 995;
}

.brand-logo {
	font-family: 'Arvo', serif;

	i {
		width:            64px;
		background-image: url('/images/logo.png');
		background-size:  cover;
	}
}

.user-profile {
	width: 175px;

	> a {
		text-align: center;
	}

	i, span {
		display:        inline-block !important;
		vertical-align: top;
		line-height:    64px;
	}
}

.mobile-user-profile {
	i {
		margin-right: 10px !important;
	}

	ul {
		padding-left: 15px;

		a {
			line-height: 38px;
			height:      38px;
		}
	}
}

.container {
	@media (min-width: $medium-screen) {
		width: 100%;
	}

	@media (min-width: $large-screen) {
		width: $large-screen;
	}
}

.pagination {
	text-align: center;

	li {
		width:       30px;
		line-height: 30px;

		&.active {
			color: #fff;
		}
	}
}