/**
 * Стили для виджета авторизации
 *
 * @author Кривонос Иван <devbackend@yandex.ru>
 */

.authgram-bot-widget-container {
	display: inline-block;
	width: 325px;
}

.getting-command {
	text-align: center;
	font-size: 1.25em;
}

.authgram-button {
	font-family: "Roboto", sans-serif;
	width: 175px;
	height: 35px;
	display: block;
	margin: auto;
	background-color: #5682A3;
	border: 1px solid #689dbf;
	color: #fff;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.1), 0 1px 10px 0 rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.authgram-command-container {
	display: inline-block;
	width: 100%;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.1), 0 1px 10px 0 rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.3);
	padding: 10px;

	.command {
		span {
			display: inline-block;
			width: 100%;
			text-align: center;
			font-size: 1.25em;
		}

		a {
			font-size: 1.5em;
			text-align: center;
			display: block;
			margin-top: 15px;
		}
	}

	.expired {
		text-align: center;
		padding-top: 10px;
		margin-top: 10px;
		font-size: 1.15em;
		border-top: 1px solid #eee;
	}
}

.command-error {
	color: #f00;
	text-align: center;
	font-weight: 700;
	font-size: 17px;
}